/* Increase Paragraph Text Size */
p {
  font-size: 300px; /* Adjust this value for a bigger text */
  line-height: 1.6; /* Ensures readability */
}

/* Keep existing styles */
p, h2, h1 {
  color: #FCD9B8;
}

/* Button Styling */
.btn {
  background-color: #E09145;
  color: #141413;
}

/* Customize the button hover effect */
.btn:hover {
  color: #FCD9B8 !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

/* Custom Button */
.custom-btn {
  background-color: transparent;
  border: 2px solid #FCD9B8;
  color: #FCD9B8;
  transition: all 0.3s ease;
}

.custom-btn:hover {
  background-color: #FCD9B8;
  color: #17181d;
}
