p h2 h1{
  color: #FCD9B8;
}

.btn{
  background-color: #E09145;
  color: #141413;
}

/* Customize the button hover effect */
.btn:hover {
  color: #FCD9B8 !important;  /* Changes text color to #FCD9B8 on hover */
  background-color: transparent !important;  /* Optional: keeps background color transparent */
  border-color: transparent !important; /* Optional: removes border color */
}


.custom-btn {
  background-color: transparent; /* No background */
  border: 2px solid #FCD9B8; /* Border with your desired color */
  color: #FCD9B8; /* Text color to match the border */
  transition: all 0.3s ease; /* Smooth transition on hover */
}

.custom-btn:hover {
  background-color: #FCD9B8; /* Background color on hover */
  color: #17181d; /* Dark text color on hover */
}
